@define-color foreground #F8AEB6;
@define-color background #332526;
@define-color background-alt rgba(51,37,38,0.25);
@define-color cursor #A65C6A;

@define-color color0 #594A4B;
@define-color color1 #3E0817;
@define-color color2 #3E0817;
@define-color color3 #3E0817;
@define-color color4 #3E0817;
@define-color color5 #3E0817;
@define-color color6 #B11122;
@define-color color7 #ED838E;
@define-color color8 #A65B63;
@define-color color9 #530A1F;
@define-color color10 #530A1F;
@define-color color11 #530A1F;
@define-color color12 #530A1F;
@define-color color13 #530A1F;
@define-color color14 #EC172D;
@define-color color15 #ED838E;

